// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-dark-light: #777777;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light-1: #f7f7f7;

// GRID
$grid-width: 90rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;